<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=.\MSSQLSERVER2019;Database=bigblindsorder;Uid=bigblindsorder;Password=8?l8eQaojKG!fc7q;" providerName="System.Data.SqlClient" name="DefaultConnection" />
		<add connectionString="Server=.\MSSQLSERVER2019;Database=db4700_weborder;Uid=db4700_weborder;Password=Y66iV2yQoJE6*;" providerName="System.Data.SqlClient" name="ArchiveConnection" />
		<add connectionString="Server=202.74.70.124\MSSQLSERVER2019;Database=bigorder;Uid=bigorder;Password=4r7^o93nI;" providerName="System.Data.SqlClient" name="ArchiveConnectionShutter" />
	</connectionStrings>
	
	<system.web>
		<httpRuntime maxRequestLength="20480" executionTimeout="3600" targetFramework="4.8" />
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<customErrors mode="On" defaultRedirect="~/Error/Default.aspx">
			<error statusCode="403" redirect="~/Error/403.aspx" />
			<error statusCode="404" redirect="~/Error/404.aspx" />
			<error statusCode="500" redirect="~/Error/500.aspx" />
		</customErrors>
	</system.web>
	
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="20971520" />
			</requestFiltering>
		</security>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="403" />
			<error statusCode="403" path="/Error/403.aspx" responseMode="ExecuteURL" />
			
			<remove statusCode="404" />
			<error statusCode="404" path="/Error/404.aspx" responseMode="ExecuteURL" />

			<remove statusCode="500" />
			<error statusCode="500" path="/Error/500.aspx" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>